/* ========================================================= */
/* 1. Importações de fontes externas */
/* ========================================================= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


/* ========================================================= */
/* 2. Definições base do Tailwind CSS */
/* ========================================================= */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* ========================================================= */
/* 3. Definição da sua fonte customizada */
/* ========================================================= */
@font-face {
  font-family: 'The New Elegance';
  src: url('/fonts/TheNewElegance.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


/* ========================================================= */
/* 4. Estilos globais e classes de utilidade customizadas */
/* ========================================================= */
body {
  @apply bg-brand-black text-brand-white antialiased;
}

/* Cores customizadas para os ícones */
.text-spotify { color: #1DB954; }
.text-soundcloud { color: #ff5500; }
.text-bandcamp { color: #629aa9; }
.text-instagram { color: #E4405F; }
.text-whatsapp { color: #25D366; }

/* Efeito de brilho vermelho no hover */
.hover\:glow-red:hover {
  filter: drop-shadow(0 0 10px #b91c1c);
}